openapi: 3.2.0
info:
  title: Endgame Public Internal API
  version: 1.0.0
servers:
- url: https://app.endgame.io
security:
- bearerAuth: []
tags:
- name: Internal
paths:
  /internal/feedback:
    get:
      operationId: internal.feedback.list
      summary: List mcp_feedback submissions
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
        allowEmptyValue: true
        allowReserved: true
      - name: cursor
        in: query
        schema:
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: disposition
        in: query
        schema:
          default: pending
          enum:
          - pending
          - promoted
          - dismissed
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: limit
        in: query
        schema:
          default: 500
          type: integer
          minimum: 1
          maximum: 1000
        allowEmptyValue: true
        allowReserved: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  feedback:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        kind:
                          enum:
                          - bug
                          - feature_request
                          - data_issue
                          - other
                          type: string
                        severity:
                          anyOf:
                          - enum:
                            - low
                            - medium
                            - high
                            type: string
                          - type: 'null'
                        source:
                          enum:
                          - user
                          - agent
                          type: string
                        title:
                          type: string
                        description:
                          type: string
                        orgId:
                          type: string
                        userId:
                          anyOf:
                          - type: string
                          - type: 'null'
                        disposition:
                          enum:
                          - pending
                          - promoted
                          - dismissed
                          type: string
                        linearIssueIdentifier:
                          anyOf:
                          - type: string
                          - type: 'null'
                        linearIssueUrl:
                          anyOf:
                          - type: string
                          - type: 'null'
                      required:
                      - id
                      - createdAt
                      - kind
                      - severity
                      - source
                      - title
                      - description
                      - orgId
                      - userId
                      - disposition
                      - linearIssueIdentifier
                      - linearIssueUrl
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - feedback
                - nextCursor
      tags:
      - Internal
  /internal/feedback/promote:
    post:
      operationId: internal.feedback.promote
      summary: Promote mcp_feedback submissions to one Linear issue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rowIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                title:
                  type: string
                  minLength: 1
                  maxLength: 500
                description:
                  type: string
                  minLength: 1
                  maxLength: 50000
                note:
                  type: string
                  minLength: 1
                projectId:
                  type: string
                  format: uuid
              required:
              - rowIds
              - title
              - description
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  promoted:
                    type: array
                    items:
                      type: string
                  skipped:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        disposition:
                          enum:
                          - promoted
                          - dismissed
                          type: string
                      required:
                      - id
                      - disposition
                  notFound:
                    type: array
                    items:
                      type: string
                  issue:
                    anyOf:
                    - type: object
                      properties:
                        identifier:
                          type: string
                        url:
                          type: string
                      required:
                      - identifier
                      - url
                    - type: 'null'
                required:
                - promoted
                - skipped
                - notFound
                - issue
      tags:
      - Internal
  /internal/feedback/dismiss:
    post:
      operationId: internal.feedback.dismiss
      summary: Dismiss mcp_feedback submissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rowIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                note:
                  type: string
                  minLength: 1
              required:
              - rowIds
              - note
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dismissed:
                    type: array
                    items:
                      type: string
                  skipped:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        disposition:
                          enum:
                          - promoted
                          - dismissed
                          type: string
                      required:
                      - id
                      - disposition
                  notFound:
                    type: array
                    items:
                      type: string
                required:
                - dismissed
                - skipped
                - notFound
      tags:
      - Internal
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Endgame API key (eak_*) or WorkOS JWT. Obtain an API key from Settings → API keys.
